{{!
* Template test
* Here's the default template
* which loads all the subtemplates.
* They'll be placed inside {body}
* That's the dynamic part of this set
* of templates.
}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Template test</title>
</head>
<body>
	{{{load_subtemplate subtemplate this}}}
<div id="idk">
{{text}}
</div>
</body>
</html>