RewriteEngine On

# mapping:
# don't map these extensions
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.mp3|\.ogg|\.eot|\.svg|\.ttf|\.woff|\.woff2|\.otf|\.ico|\.swf)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

#error documents

ErrorDocument 404 /index.php