Options All -Indexes
<Files .htaccess>
order allow,deny
deny from all
</Files>
RewriteEngine on
RewriteRule ^audios\/([A-Za-z0-9_]{3,15})(\/)?$ index.php?_p=profile&u=$1
RewriteRule ^frame\/([A-Za-z0-9]{6})$ index.php?_p=frame&id=$1
RewriteRule ^search(/)?$ index.php?_p=search [QSA,L]
RewriteRule ^settings(/)?$ index.php?_p=settings
RewriteRule ^likes\/([A-Za-z0-9_]{3,15})(\/)?$ index.php?_p=profile&u=$1&l=1
RewriteRule ^([A-Za-z0-9]{6})$ index.php?_p=audio&id=$1 [QSA,L]
RewriteRule ^(about|privacy|tos|faq|contact)$ index.php?_p=text&txt=$1
ErrorDocument 404 /assets/404.php
ErrorDocument 403 /assets/404.php