<h2>About TwitAudio</h2>
TwitAudio is a website and application which allows users to upload voice notes and audio files and send them to Twitter easily. Since Twitter does not have this option, TwitAudio acts like an add-on to make this possible.

<strong>Twitaudio is not affiliated to Twitter.</strong> Twitaudio's service is intended to supplement or enhance the service provided by Twitter Inc. at <a href="http://twitter.com.">http://twitter.com.</a>

TwitAudio was released on October 25, 2015, and was written by <a href="http://twitter.com/zerquix18">@Zerquix18</a>. A week later, <a href="http://twitter.com/chusen">@chusen</a> also joined. We are a small and strong team that wants to bring this tool to many people as possible.
<h2>Current features</h2>
<h3>Upload voices notes / audios</h3>
You can upload voice notes and audio files with a standard limit of 2 minutes (you can expand this limit getting the premium version though). After uploading your audio, you can add a description and send them to Twitter.

Audios can be public / private. If they're public, everyone will see them and they'll appear in the search engines. If they're private, only your followers will be able to listen to them and they won't appear in the search engines.
<h3>Audios can be played in Twitter.com</h3>
You don't need to go to the website to listen to an audio. Thanks to Twitter Cards you can <a href="https://twitter.com/Zerquix18/status/658332845954363392">play the audios from Twitter.com</a> directly, of course, if they're public.
<h3>Reply to audios</h3>
You can reply to audios within the website or the mobile app. The replies can be sent to Twitter too and they are sent in reply to the original tweet. In the future, replies may also support audios.
<h3>Mark as favorite</h3>
You can favorite audios and replies, to say you like them, save them from later, say you see them or any reason. You also have the option to make your favorites private, so no one except yourself can see them.
<h3>Add effects</h3>
You can add effects to the audios before posting them. There are currently 2 effects available for everyone. With the premium version you can have up to 7 and 12 effects. These amounts will be increased with time.
<h2>Upcoming features</h2>
<h3>Chrome/Firefox extension</h3>
An extension for Chrome or Firefox will allow users to upload audios from <strong>twitter.com</strong> or <strong>tweetdeck.twitter.com</strong>. So you won't have to go to our website everytime you want to upload an audio.
<h3>Android application</h3>
Currently TwitAudio works in the web for Chrome and Firefox in their lastest version, both in PC and Android. Aditionally, the lastest version of the Android Browser also supports audio recording. But that's not so confortable at all. With an Android app users will be able to do the same that they do in the web but in a more confortable way.
<h3>More Effects</h3>
More effects for everyone!

&nbsp;
<h2>Licensing</h2>
<a href="/licensing">Click here to see the list of licenses</a>