/*
* Styles for the audio box
* And the player
*
* @author Zerquix18
*
*/
.audio {
  margin-bottom: 10px;
  min-height: 47px;
  width: 100%;
}
.audio-user-avatar {
  float: left;
  vertical-align: middle;
}
.audio-user-name {
  color: #3B3B3B;
  display: inline;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
.audio-user-user {
  color: #CCC;
  font-size: 13px;
}
.audio-date {
  color: #CCC;
  float: right;
  font-size: 15px;
  vertical-align: top;
}
@media (max-width: 300px) {
  .audio-user-name {
    font-size: 13px;
  }
  .audio-user-user {
    font-size: 10px;
  }
  .audio-date {
    font-size: 10px;
  }
}
.reply-linked {
  font-weight: bold;
  margin-left: 5px;
  text-transform: uppercase;
}
.audio-description {
  margin-bottom: 5px;
  margin-left: 60px;
  margin-top: 5px;
}
.audio-play {
  margin-left: 60px;
  margin-top: 5px;
}
.audio-footer {
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  vertical-align: bottom;
}
.audio-action {
  color: #CBCBCB;
  font-size: 18px;
  margin-left: 5px;
  text-decoration: none;
}
.audio-action-favorite {
  cursor: pointer;
}
.audio-action-favorite:hover,
.audio-is_favorited {
  color: #ffc107;
}
.audio-action-delete:hover {
  color: #FF0000;
}
/** Audio shown in the audio page **/
.audio-big .audio-user-name {
  font-size: 20px;
  margin-left: 5px;
}
.audio-big .audio-user-user {
  font-size: 15px;
  margin-left: 5px;
}
.audio-big .audio-play {
  margin-left: 80px;
}
.audio-big ul.jp-controls {
  height: 35px;
}
.audio-big div.jp-volume-bar,
.audio-big div.jp-progress {
  height:11px;
  top: 13px;
}
.audio-big div.jp-play-bar,
.audio-big div.jp-seek-bar,
.audio-big div.jp-volume-bar-value {
  height: 11px;
}
.audio-big div.jp-current-time,
.audio-big div.jp-duration {
  top: 35px;
}
.audio-big .control {
  font-size: 18px;
  left: 15px;
  top: 8px;
}
.audio-big .vcontrol {
  font-size: 15px;
  top: 10px;
}
.audio-big .audio-btn i {
  font-size: 25px;
}
.audio-big .audio-desc {
  margin-left: 80px;
}
/* CONTROLS OF THE PLAYER */
.jp-interface {
  overflow: visible;
  position: relative;
  z-index: 1;
}
.jp-interface ul,
.jp-interface ul li{
  left:0;
  margin:0;
  padding:0;
  right:0;
  top:0;
}
.jp-controls{
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  background-color: #EDEDED;
  border-color: #babec4;
  border-style: solid;
  border-width: 1px;
  height: 22px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: auto;
}
.jp-controls a,
.jp-toggles a {
  display: none;
  overflow: hidden;
  text-decoration: none;
}
/* BUTTONS */
.jp-play,
.jp-pause {
  width: 30px;
}
.jp-play  i,
.jp-pause i  {
  color: #393939;
  font-size: 12px;
  left: 11px;
  position: absolute;
  top: 0.4em;
}
.jp-mute   i,
.jp-unmute i  {
  color: #393939;
  position: absolute;
  right: 70px;
  top: 2px;
}
.jp-stop {
  display: none;
}
.jp-volume-max {
  display: none;
}
.jp-current-time {
  color:#626262;
  font-size:13px;
  height:25px;
  left:0;
  line-height:25px;
  overflow:hidden;
  position: absolute;
  text-align:right;
  top:21px;
  width:50px;
  z-index:1;
}
.jp-duration{
  color:#626262;
  font-size:13px;
  height:25px;
  line-height:25px;
  overflow:hidden;
  position:absolute;
  right:0;
  text-align:left;
  top:21px;
  width:55px;
  z-index:1;
}
/* VOLUME BAR */
.jp-volume-bar {
  background: #c9cdd1;
  background: -webkit-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:    -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:     -ms-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:      -o-linear-gradient(top, #c9cdd1 0% ,#d8dbde 100%);
  background:         linear-gradient(to bottom, #c9cdd1 0%, #d8dbde 100%);
  background:        -webkit-gradient(
              linear, left top, left bottom,
              color-stop(0%,#c9cdd1),color-stop(100%,#d8dbde)
            );

  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#c9cdd1',
      endColorstr='#d8dbde',
      GradientType=0
    );
  
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);

     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
               inset 0 0 0 1px rgba(0, 0, 0, 0.2),
               inset 0 0 0 1px rgba(0, 0, 0, 0.2);

      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);

  cursor: pointer; 
  height:8px;
  overflow: hidden;
  position: absolute;
  right:10px;
  top:8px;
  width:50px;
}

.jp-volume-bar-value {
  background: #009AFF;
  background: -webkit-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:    -moz-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:     -ms-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:      -o-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:         linear-gradient(to bottom, #009AFF 0,#0088D5 100%);
  background:        -webkit-gradient(
              linear, left top, left bottom,
              color-stop(0,#009AFF), color-stop(100%,#0088D5)
            );

  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#009AFF',
    endColorstr='#0088D5',
    GradientType=0
  );

  border-color: #0077EF;
  border-style: solid;
  border-width: 1px;
  height: 7px;
  width: 0;
}
/* PROGRESS BAR */
div.jp-progress {
  background: #c9cdd1;
  background: -webkit-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:    -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:     -ms-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:      -o-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
  background:         linear-gradient(to bottom, #c9cdd1 0%,#d8dbde 100%);
  background:        -webkit-gradient(
              linear, left top, left bottom, 
              color-stop(0%,#c9cdd1), color-stop(100%,#d8dbde)
            );


  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cdd1', endColorstr='#d8dbde',GradientType=0 );
  
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);

     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);

          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),
                inset 0 0 0 1px rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  height: 8px;
  left: 45px;
  overflow: hidden;
  position: absolute;
  right: 105px;
  top: 8px;
  z-index: 2;
}
.jp-seek-bar {
  height: 8px;
  margin: 0;
  padding: 0;
}
.jp-seeking-bg {
  background: none;
}
div.jp-play-bar {
  background: #009AFF;
  background: -webkit-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:    -moz-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:     -ms-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:      -o-linear-gradient(top, #009AFF 0, #0088D5 100%);
  background:         linear-gradient(to bottom, #009AFF 0, #0088D5 100%);
  background:        -webkit-gradient(
              linear, left top, left bottom,
              color-stop(0,#009AFF), color-stop(100%,#0088D5)
            );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#009AFF',
      endColorstr='#0088D5',
      GradientType=0
    );
  border-color: #0077EF;
  border-style: solid;
  border-width: 1px;
  height: 8px;
  width: 0;
}
/* hide this cuz it always shows before the player to load */
.jp-no-solution {
  display: none;
}