/**
*
* Global CSS
* Here goes the styles that helps or appear
* in all the pages
*
* @author Zerquix18
*
**/
html, body {
  height: 100%;
}
body {
  background-color: #EEEEEE;
  height: 100%;
}
/** font of the logo **/
@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/coolvetica.woff') format('woff'), 
    url('../fonts/coolvetica.ttf') format('truetype'),
    url('../fonts/coolvetica.svg#svgCoolvetica') format('svg');
}
.navbar-logo {
  font-family: 'Coolvetica', Helvetica, Serif, Arial, Times;
}

/*
* these are the page with dynamic content
* and the sidebar
**/

/** avoid the sidebar **/
.content {
  padding-left: 250px;
}
.main {
  padding-top: 20px;
}
@media only screen and (max-width : 992px) {
  /* here the sidebar does not appear */
  .content {
    padding-left: 0;
  }
  .main {
    padding-top: 5px;
  }
}

/** _badge because Materialize already has .badge **/

._badge {
  background-color: #777777;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/** The real box **/

.box {
  background-color: #FFF;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 10px;
  padding: 10px;
}

.divider {
  margin: 15px 0;
}
.alert {
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #FFF;
  font-family: Helvetica, 'Helvetica Neue', 'Roboto', Serif, Arial, times;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}
.error {
  background-color: #e74c3c;
}
.success {
  background-color: #3fad46;
}
.info {
  background-color: #5bc0de;
}
.verified {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #64b5f6;
  color: #FFF;
  margin: 0 3px;
  padding: 5px;
  vertical-align: middle;
}
hr {
  border-top-color: #ccc;
  border-top-style: solid;
  border-top-width: 1px;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; 
}
a.no-deco,
a.no-deco:hover,
a.no-deco:visited,
a.no-deco:active {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
/** title in boxes */
.title {
  color: #9e9e9e;
  display: block;
  font-family: Helvetica, 'Helvetica Neue', 'Roboto', Arial, Serif;
  font-weight: bold;
  margin-bottom: 10px; 
  text-align: center;
  text-transform: uppercase;
  width:100%;
}
.center {
  display: block;
  margin: 0 auto;
}
.signin {
  display: block;
  margin: 50px auto;
  width: 158px;
}