/**
*
* Miscelaneus stuff
* Just used in small spaces
* and not in big/multiple pages
*
**/

/** SEARCH FORM **/

.search-options {
  height: 70px;
  margin-bottom: 10px;
}

.search-submit {
  display: block;
  margin-top: 15px;
  margin: 0 auto;
}

ul.user li {
  display: inline-block;
  vertical-align: middle;
}

ul.user .name {
  font-size: 25px;
}

ul.user .uname {
  font-size: 20px;
}

ul.user li a {
  color: inherit;
  float: left;
  text-decoration: none;
}

ul.user .verified {
  font-size: 15px;
}

/** Audio page **/

.reply-options {
  min-height: 50px;
  padding-left: 10px;
}

.audio-share-buttons {
  text-align: right;
}

/** footer */

.footer-ads {
  display: block;
  margin: 10px auto 20px auto;
  max-width: 720px;
}

/** sidebar **/

.more {
  overflow: hidden;
}

b.caret {
  border-left:  4px solid transparent;
  border-right: 4px solid transparent;
  border-top:   4px dashed;
  border-top:   4px solid \9;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}