/**
*
* CSS for the payments modal
*
**/
.premium-inputs {
  margin: 10px auto;
  width: 70%;
}

.premium-tabs {
  margin-bottom: 10px;
}

.premium-text-enjoy {
  font-family: Helvetica, 'Helvetica Neue', Arial, Serif, Times;
}

.premium-action-record {
  display: block;
  margin-top: 40px;
  margin: 0 auto;
  text-align: center;
}

.premium-action-record i {
  color: #FF0000;
  font-size: 12px;
}