/**
*
* CSS for text pages
*
* @author Zerquix18
*
**/
.text > .container {
  background-color: #FFF;
  padding: 60px;
}

.text-text {
  margin: 0 5px;
}

.text footer,
footer.notop {
  margin-top: -20px;
}

footer.notop .footer-copyright {
  padding-right: 10px;
}