html, body {
	height: 100%;
}
body {
	background-color: #EEEEEE;
}
@font-face {
	font-family: Coolvetica;
	src: url(../fonts/colvetica.otf);
}
#home {
	height: 500px;
	width: 100%;
	padding-top: 20px;
	background: url('../img/homepage-bg.png');
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
@media (max-width: 380px) {
	#home {
		height: 450px;
	}
}
#logo img {
	display: block;
	margin:0 auto;
}
#logo img.logo-full {
	width: 323px;
	height: 244px;
}
@media (max-width: 415px) {
	#logo img.logo-full {
		width: 275px;
		height:200px;
	}
}
@media (max-width: 360px) {
	#logo img.logo-full {
		width: 200px;
		height: 150px;
	}
}
#logo h2 {
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 35px;
}
@media (max-width: 636px) {
	#logo h2 {
		font-size: 25px;
	}
}
@media (max-width: 320px) {
	#logo h2 {
		font-size: 17px;
	}
}
#features {
	padding: 30px 0;
}
#features p {
	text-align: center;
}
#features i {
	color: #42a5f5;
}
#features .col p:nth-child(2) {
	font-size: 2.0em;
	margin-bottom:0;
	margin-top:0;
}
#txt > div.container {
	padding: 60px;
	background-color: #FFF;
}
#alltxt {
	margin: 0 5px;
}
#txt footer,
footer.notop {
	margin-top:-20px;
}
footer.notop .footer-copyright {
	padding-right: 10px;
}
.content {
	padding-left: 250px;
}
@media only screen and (max-width : 992px) {
	.content {
		padding-left: 0;
	}
	#main.content {
		padding-left: 5px;
	}
}
.logo {
	font-family: Coolvetica, Helvetica;
}
#main.content {
	padding-top: 20px;
}
#q {
	padding-left: 5px;
	padding-right: 5px;
	color: #FFF;
}
.side-nav li {
	padding:0;
}
#userthings a {
	height: 40px;
	line-height: 40px;
	color: #FFF;
	font-family: Helvetica, 'Helvetica Neue', Times, Serif, Arial;
}
#userthings i {
	font-size: 20px;
	margin: 0 5px;
}
#userthings li:hover {
	background-color: #616161;
}
#userthings .bdge {
	margin-top: 10px;
}
/*profilepicture*/
#pp {
	vertical-align: middle;
}
.bdge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #777777;
	border-radius: 10px;
	font-family: Helvetica;
}
.box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius:     5px;
	border-radius:      	5px;
	-webkit-box-shadow:     0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,.05);
	box-shadow:         0 1px 2px rgba(0,0,0,.05);
	margin-bottom: 10px;
}
#search_options {
	height: 70px;
	margin-bottom: 10px;
}
#search_button {
	margin-top: 15px;
	display: block;
	margin:0 auto;
}
.divider {
	margin: 15px 0;
}
.alert {
	padding: 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	word-wrap: break-word;
	text-align: center;
	font-family: Helvetica, 'Helvetica Neue', 'Roboto', Serif, Arial, times;
}
.alert.error {
	background-color: #e74c3c;
}
.alert.success {
	background-color: #3fad46;
}
.alert.info {
	background-color: #5bc0de;
}
.audio {
	width: 100%;
	min-height: 47px;
	margin-bottom: 10px;
}
.audio a img {
	float: left;
	vertical-align: middle;
}
.name {
	font-size: 17px;
	font-weight: bold;
	color: #3B3B3B;
	display: inline;
	margin-left: 10px;
}
.uname {
	font-size: 13px;
	color: #CCC;
}
.adate {
	float:right;
	font-size:15px;
	color: #CCC;
	vertical-align: top;
}
.audio_footer {
	vertical-align: bottom;
	text-align: center;
	margin-right: 10px;
	margin-top: 20px;
}
.audiobtn {
	margin-left: 5px;
	text-decoration: none;
	color: #CBCBCB;
	font-size: 18px;
}
#linked {
	font-weight: bold;
	text-transform: uppercase;
}
/* CONTROLS */
div.jp-interface{
	position:relative;
	z-index:1;
	overflow:visible;
}
div.jp-interface ul,
div.jp-interface ul li{
	top:0;
	left:0;
	right:0;
	margin:0;
	padding:0;
}
ul.jp-controls{
	position: relative;
	margin:0;
	padding:0;
	width:auto;
	height:20px;
	background-color: #EDEDED;
	-webkit-box-shadow:inset 0 1px 0 0 #fff;
	-moz-box-shadow:inset 0 1px 0 0 #fff;
	box-shadow:inset 0 1px 0 0 #fff;
	border:1px solid #babec4;
	list-style:none;
	overflow:hidden;
}
ul.jp-controls a,
ul.jp-toggles a{
	text-decoration: none;
	display:block;
	overflow:hidden;
}
/* BUTTONS */
a.jp-play,
a.jp-pause{
	width:30px;
	border-right:1px solid #BABEC4;
}
.control {
	position: absolute;
	left: 11px;
	top: 3px;
	color: #393939;
	font-size: 12px;
}
.vcontrol {
	position: absolute;
	color: #393939;
	right: 70px;
	top: 2px;
}
a.jp-stop{
	display:none !important;
}
a.jp-volume-max{
	display:none !important;
}
div.jp-current-time{
	position: absolute;
	z-index:1;
	top:21px;
	left:0;
	width:50px;
	height:25px;
	text-align:right;
	font-size:13px;
	color:#626262;
	line-height:25px;
	overflow:hidden;
}
div.jp-duration{
	position:absolute;
	z-index:1;
	top:21px;
	right:0;
	width:55px;
	height:25px;
	text-align:left;
	font-size:13px;
	color:#626262;
	line-height:25px;
	overflow:hidden;
}
/* VOLUME BAR */
div.jp-volume-bar{
	position:absolute;
	top:8px;
	right:10px;
	height:8px;
	width:50px;
	background: #c9cdd1;
	background: -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9cdd1), color-stop(100%,#d8dbde));
	background: -webkit-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: -o-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: -ms-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: linear-gradient(to bottom, #c9cdd1 0%,#d8dbde 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cdd1', endColorstr='#d8dbde',GradientType=0 );
	
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	cursor:pointer; 
	}
div.jp-volume-bar-value{
	width:0px;
	height:6px;
	background: #009AFF;
	background: -moz-linear-gradient(top, #009AFF 0, #0088D5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#009AFF), color-stop(100%,#0088D5));
	background: -webkit-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: -o-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: -ms-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: linear-gradient(to bottom, #009AFF 0,#0088D5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009AFF', endColorstr='#0088D5',GradientType=0 );
	
	border:1px solid #0077EF;
	}
/* PROGRESS BAR */
div.jp-progress{
	position:absolute; z-index:2;
	top:8px; right:105px; left:45px;
	height:8px;
	
	background: #c9cdd1;
	background: -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9cdd1), color-stop(100%,#d8dbde));
	background: -webkit-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: -o-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: -ms-linear-gradient(top, #c9cdd1 0%,#d8dbde 100%);
	background: linear-gradient(to bottom, #c9cdd1 0%,#d8dbde 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cdd1', endColorstr='#d8dbde',GradientType=0 );
	
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		
	overflow:hidden;
	cursor:pointer;
	}
div.jp-seek-bar{
	margin:0; padding:0;
	height:8px;
	}
div.jp-seek-bar.jp-seeking-bg{
	background:none;
}
div.jp-play-bar{
	width:0px;
	height:6px;
	background: #009AFF;
	background: -moz-linear-gradient(top, #009AFF 0, #0088D5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#009AFF), color-stop(100%,#0088D5));
	background: -webkit-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: -o-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: -ms-linear-gradient(top, #009AFF 0,#0088D5 100%);
	background: linear-gradient(to bottom, #009AFF 0,#0088D5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009AFF', endColorstr='#0088D5',GradientType=0 );
	border:1px solid #0077EF;
}
.audio_play {
	margin-top: 5px;
	margin-left: 60px;
}
.audio_desc {
	margin-bottom: 5px;
	margin-left: 60px;
	margin-top: 5px;
}
.audio.big .name {
	font-size: 20px;
	margin-left: 5px;
}
.audio.big .uname {
	font-size: 15px;
	margin-left: 5px;
}
.audio.big .audio_play {
	margin-left: 80px;
}
.audio.big ul.jp-controls {
	height: 35px;
}
.audio.big div.jp-volume-bar,
.audio.big div.jp-progress {
	top: 13px;
	height:11px;
}
.audio.big div.jp-play-bar,
.audio.big div.jp-seek-bar,
.audio.big div.jp-volume-bar-value {
	height: 11px;
}
.audio.big div.jp-current-time,
.audio.big div.jp-duration {
	top: 35px;
}
.audio.big .control {
	left: 15px;
	top: 8px;
	font-size: 18px;
}
.audio.big .vcontrol {
	top: 10px;
	font-size: 15px;
}
.audio.big .audiobtn i {
	font-size: 25px;
}
.audio.big .audio_desc {
	margin-left: 80px;
}
#load_more {
	display: block;
	margin: 15px auto;
	max-width: 140px;
	box-sizing: initial;
}
#load_more i {
	vertical-align: top;
}
#p404 {
	background-color: #14455C;
}
#p404 .container {
	text-align: center;
	color: #FFF;
}
#p404 .container h3 {
	font-family: 'Roboto';
	font-weight: bold;
	color: inherit;
}
#p404 .container img,
#p404 form {
	display: block;
	margin: 0 auto;
}
#p404 .container img {
	height: auto;
}
#p404 form {
	max-width: 50%;
}
#p404 ul li {
	display: inline-block;
	margin: 0 5px;
}
#p404 ul a {
	float: left;
	font-size: 25px;
}
@media (max-width: 550px) {
	#p404 .container img {
		width: 100%;
	}
	#p404 h3 {
		font-size: 25px;
	}
}
#propic {
	display: block;
	margin: 10px auto;
	border: 5px solid #FFF;
	height: 150px;
	width: 150px;
}
#name,
#user,
#bio {
	display: block;
	text-align: center;
	font-family: 'Roboto', Helvetica, 'Helvetica Neue', Times, Serif, Arial;
	margin:0;
}
#name {
	font-weight: bold;
}
#bio {
	font-size: 17px;
	margin:0 auto;
}
.tabs .indicator {
	background-color: #2196f3;
}
#pnavigation {
	margin-bottom: 20px;
}
#reply_options {
	min-height: 50px;
	padding-left: 10px;
}
#post {
	margin: 0 auto;
	width: 250px;
}
#post i {
	font-size: 70px;
	margin: 0 10px;
}
#record,
#upload {
	cursor: pointer;
	text-align: center;
}
#or {
	line-height: 70px;
}
#or,
.a_text {
	color: #616161;
	font-family: Helvetica, 'Nelvetica Neue', 'Helvetica Neue LT', 'Roboto', Arial, Serif;
}
.title {
	display: block;
	width:100%;
	text-align: center;
	color: #9e9e9e;
	margin-bottom: 10px; 
	font-family: Helvetica, 'Helvetica Neue', 'Roboto', Arial, Serif;
	font-weight: bold;
	text-transform: uppercase;
}
#waiting {
	height: 100px;
}
#waiting > div.valign {
	margin: 0 auto;
	font-size: 16px;
}
#loading {
	margin: 20px 0;
	padding: 0 40px;    
}
#whatsloading {
	display: block;
	text-align: center;
}
#record_form {
	margin: 20px auto;
	text-align: center;
}
#record_actions * {
	font-size: 20px;
	color: #424242;
}
#count {
	margin-right: 5px;
}
#stop,
#cancel {
	cursor: pointer;
}
#cut_form {
	min-height: 100px;
	text-align: center;
	margin-top: 10px;
}
#cut_block {
	margin: 10px auto;
}
#start, #end {
	width: 35px;
}
#desc_ {
	margin: 30px 0 0 10px;
}
#send_to_twitter {
	margin-left: 10px;
}
#post_buttons {
	margin:0 auto;
	width: 300px;
}
@media (max-width: 400px) {
	#post_buttons {
		width: 270px;
	}
}
ul.user li {
	display: inline-block;
	vertical-align: middle;
}
ul.user li.name {
	font-size: 25px;
}
ul.user li.uname {
	font-size: 20px;
}
ul.user li a {
	float: left;
	color: inherit;
	text-decoration: none;
}
i.verified {
	padding: 5px;
	color: #FFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:      50%;
	margin: 0 3px;
	background-color: #64b5f6;
	vertical-align: middle;
}
ul.user i.verified {
	font-size: 15px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0; 
}
a.signin {
	display: block;
	margin: 0 auto;
	width: 158px;
}
#settings_form button[type="submit"]{
	margin: 0 auto;
	display: block;
}
.laic {
	cursor: pointer;
}
.laic:hover,
.favorited {
	color: #ffc107;
}
.delit:hover {
	color: #FF0000;
}
.links {
	text-align: center;
}
.links li {
	display: inline-block;
	margin-left: 5px;
}
.links a {
	float: left;
}
#more {
	overflow: hidden;
}
b.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.ads_footer {
	max-width: 720px;
	display: block;
	margin: 10px auto 20px auto !important;
}
@media (max-width:720px) {
	.ads_footer {
		max-width: 500px;
	}
}
#open_sidebar {
	margin-left: 10px;
}
.share_buttons {
	text-align: right;
}