<!DOCTYPE html>
<!--
	YO! LISTEN UP
	HERE'S A STORY
	ABOUT A LITTLE GUY THAT LIVES IN A BLUE WORLD
	AND ALL THAY AND ALL NIGHT AND EVERYTHING
	HE SEES IS JUST BLUE LIKE HIM
	INSIDE AND OUTSIDE
	BLUE HIS HOUSE
	WITH A BLUE LITTLE WINDOW
	AND A BLUE CORVETE
	AND EVERYTHING IS BLUE FOR HIM
	AND HISELF
	AND EVERYBODY AROUND
	CUZ AIN'T GOT
	NOBODY TO LISTEN
-->
<html lang="en">
<head>
	<title>TwitAudio</title>
	<style>
	body {
		background-color: #14455C;
		font-family: Helvetica, 'Helvetica Neue', Comic, Times, Serif;
	}
	.error_image {
		display: block;
		height: auto;
		margin: 0 auto;
	}
	@media (max-width: 550px) {
		.error_image {
			width: 50%;
		}
	}
	.error_info {
		text-align: center;
		color: #FFF;
	}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<img src="http://i.imgur.com/E6Xk1Mx.png" class="error_image">
<div class="error_info">
	<h2>Oh Snap!</h2>
	<p>We're facing technical issues. We'll be back soon!</p>
</div>
</body>
</html>
<!--
	I'M BLUE DABADIBADAE DABADI DABADAE DABADIDABADAE
	DABADIDABADAE DABADI DABADIDABADAEE'
-->